.tree-grid {
  grid-template-rows: 2rem 1fr;
}

.tree {
  .tree-node {
    .tree-node-header {
      align-items: center;
      display: inline-flex;
      gap: .2rem;
    }

    .tree-node-key {
      font-weight: bold;
    }

    .tree-nested {
      @apply ml-3 pl-5;
      @apply border-l border-neutral-500;
    }

    .brackets {
      display: inline-block;
      height: 24px;
      text-align: center;
      width: 12px;
    }

    .string {
      color: #C01A16;
    }

    .number {
      color: #28C016;
    }

    .boolean {
      color: #1681C0;
    }

    .object {
      color: rgb(137, 137, 137);
    }

    .error {
      color: #E65722;
    }
  }
}
