.tree-grid {
  grid-template-rows: 2rem 1fr;
}

.tree {
  .tree-node {
    .tree-node-header {
      align-items: center;
      display: inline-flex;
      gap: .2rem;
    }

    .tree-node-expand {
      font-size: 1rem;
      margin-left: -.2rem;
    }

    .tree-node-key {
      font-weight: bold;
    }

    .tree-nested {
      @apply border-l border-neutral-500;

      margin-left: .25rem;
      padding-left: .75rem;
    }

    .string {
      color: #C01A16;
    }

    .number {
      color: #28C016;
    }

    .boolean {
      color: #1681C0;
    }

    .object {
      color: rgb(137, 137, 137);
    }

    .error {
      color: #E65722;
    }
  }
}
